h1{
font-size:45px;
color:rgb(38, 125, 242);
font-family:"方正综艺简体","黑体","宋体";
font-style:normal;
font-weight:550;
}
a{color:#000000;text-decoration:none;}
*{
margin:1.5%;padding:0px;border:0px;
}
